# Data should remain confidential
/data/*
/analysis/records/*
# Scripts are exception
!/data/scripts

# Results (at least so far) not pertinent
/results/*

# PyCache should not be sent
__pycache__

# Temp Files should not be sent
tmp

# Virtual environments should not be sent
venv