# Data should remain confidential
/data/*
/analysis/records/*
/models_support/exports/*
# Scripts are exception
!/data/scripts

# Results (at least so far) not pertinent
/results/*

# PyCache should not be sent
__pycache__

# Temp Files should not be sent
tmp
tmp_condor
condor.log

# Corpora should not be sent
/models_support/corpora/*

# Virtual environments should not be sent
venv
