# Data should remain confidential
/data/*
/analysis/records/*
/models_support/exports/*
# Scripts are exception
!/data/scripts

# Results (at least so far) not pertinent
/results/*
exports

# PyCache should not be sent
__pycache__

# Temp Files should not be sent
tmp
tmp_condor
tmp_parallelization
condor.log

# Corpora should not be sent
corpora

# Virtual environments should not be sent
venv

# Environment files should not be sent
.env

# Test Zone made for local exploration only
test-zone