
UNIVERSE	                = VANILLA
NOTIFICATION	            = ERROR
REQUIREMENTS	            = (ARCH == "X86_64") && (Machine == "g01.hlt.inesc-id.pt" || Machine == "g02.hlt.inesc-id.pt" || Machine == "g03.hlt.inesc-id.pt" || Machine == "g04.hlt.inesc-id.pt" || Machine == "g05.hlt.inesc-id.pt" || Machine == "g06.hlt.inesc-id.pt" )
# SHOULD_TRANSFER_FILES     = yes
# WHEN_TO_TRANSFER_OUTPUT   = on_exit
QUEUE
