
UNIVERSE	= VANILLA
NOTIFICATION	= ERROR
LOG		= condor.log
REQUIREMENTS	= (ARCH == "X86_64") && (Machine == "x01.hlt.inesc-id.pt" || Machine == "x02.hlt.inesc-id.pt" || Machine == "x03.hlt.inesc-id.pt" || Machine == "x04.hlt.inesc-id.pt" || Machine == "x05.hlt.inesc-id.pt" || Machine == "x06.hlt.inesc-id.pt" || Machine == "x07.hlt.inesc-id.pt" || Machine == "x08.hlt.inesc-id.pt" || Machine == "x09.hlt.inesc-id.pt" || Machine == "x10.hlt.inesc-id.pt" || Machine == "x11.hlt.inesc-id.pt" || Machine == "x12.hlt.inesc-id.pt" )
# SHOULD_TRANSFER_FILES   = yes
# WHEN_TO_TRANSFER_OUTPUT = on_exit
QUEUE
